{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}About - Kanchan's Portfolio{% endblock %}

{% block content %}

<section data-aos="fade-up" class="min-h-screen px-10 py-16 bg-white dark:bg-[#0f172a] text-black dark:text-white">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-4xl font-bold text-orange-500 mb-6">About Me</h2>

    <p class="text-lg leading-relaxed mb-4">
      Hello! I'm <span class="font-semibold text-orange-400">Kanchan Pandore</span>, currently pursuing Computer Science Engineering at Pimpri Chinchwad University. I'm a passionate learner who enjoys building web applications and exploring the world of technology.
    </p>

    <p class="text-lg leading-relaxed mb-4">
      I have a strong foundation in HTML, CSS, and C++,Java and I’m currently diving deeper into Data Science, AI, and web development with Django. I'm eager to apply my skills through real-world projects and actively participate in hackathons to enhance my learning and problem-solving abilities.
    </p>

    <p class="text-lg leading-relaxed">
      I love solving problems, designing interfaces, and writing clean code. Let's build something amazing together!
    </p>
  </div>
</section>

{% endblock %}
