{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Contact - Kanchan's Portfolio{% endblock %}

{% block content %}

<section class="min-h-screen flex flex-col justify-center items-center p-10 text-center" data-aos="fade-up">
  <h1 class="text-4xl font-bold mb-6 text-orange-500">Get in Touch</h1>
  <p class="text-lg text-gray-300 mb-8">
    I’m currently pursuing Computer Science,I’m actively seeking opportunities to learn, collaborate, and grow in the tech field and open to internships
 </p>

  <!-- Contact Info Box -->
  <div class="bg-white dark:bg-[#1e293b] text-black dark:text-white rounded-xl shadow-xl p-6 w-full max-w-xl">

    <!-- Gmail -->
    <div class="mb-4 flex items-center gap-3">
      <i class="fas fa-envelope text-orange-500 text-xl"></i>
      <span>kanchanpandore31@gmail.com</span>
    </div>

    <!-- GitHub -->
    <div class="mb-4 flex items-center gap-3">
      <i class="fab fa-github text-orange-500 text-xl"></i>
      <a href="https://github.com/Kanchanpandore" target="_blank" class="hover:text-orange-600 underline">
        github.com/Kanchanpandore
      </a>
    </div>

    <!-- LinkedIn -->
    <div class="mb-4 flex items-center gap-3">
      <i class="fab fa-linkedin text-orange-500 text-xl"></i>
      <a href="https://www.linkedin.com/in/kanchan-pandore-33450928a/" target="_blank" class="hover:text-orange-600 underline">
        linkedin.com/in/kanchan-pandore
      </a>
    </div>
  </div>
</section>

{% endblock %}
